node_modules/
venv/
.venv/
.env
.env.*
!.env.example
__pycache__/
*.pyc
dist/
build/
uploads/
*/uploads/
data/faiss_index/
*/data/faiss_index/
.db-data/
*/.db-data/
temp_mongo/
*/temp_mongo/
.DS_Store
*.log